[submodule "vagrant/chef/cookbooks/elasticsearch"]
	path = vagrant/chef/cookbooks/elasticsearch
	url = https://github.com/sous-chefs/elasticsearch
[submodule "vagrant/chef/cookbooks/php"]
	path = vagrant/chef/cookbooks/php
	url = https://github.com/sous-chefs/php
[submodule "vagrant/chef/cookbooks/nodejs"]
	path = vagrant/chef/cookbooks/nodejs
	url = https://github.com/sous-chefs/nodejs
[submodule "vagrant/chef/cookbooks/memcached"]
	path = vagrant/chef/cookbooks/memcached
	url = https://github.com/sous-chefs/memcached
[submodule "vagrant/chef/cookbooks/sc-mongodb"]
	path = vagrant/chef/cookbooks/sc-mongodb
	url = https://github.com/sous-chefs/sc-mongodb
[submodule "vagrant/chef/cookbooks/varnish"]
	path = vagrant/chef/cookbooks/varnish
	url = https://github.com/sous-chefs/varnish
[submodule "vagrant/chef/cookbooks/cron"]
	path = vagrant/chef/cookbooks/cron
	url = https://github.com/sous-chefs/cron
[submodule "vagrant/chef/cookbooks/influxdb"]
	path = vagrant/chef/cookbooks/influxdb
	url = https://github.com/sous-chefs/influxdb
[submodule "vagrant/chef/cookbooks/github"]
	path = vagrant/chef/cookbooks/github
	url = https://github.com/sous-chefs/github
[submodule "vagrant/chef/cookbooks/postgresql"]
	path = vagrant/chef/cookbooks/postgresql
	url = https://github.com/sous-chefs/postgresql
[submodule "vagrant/chef/cookbooks/golang"]
	path = vagrant/chef/cookbooks/golang
	url = https://github.com/sous-chefs/golang
[submodule "vagrant/chef/cookbooks/docker-engine"]
	path = vagrant/chef/cookbooks/docker-engine
	url = https://github.com/sous-chefs/docker-engine
[submodule "vagrant/chef/cookbooks/percona"]
	path = vagrant/chef/cookbooks/percona
	url = https://github.com/sous-chefs/percona
[submodule "vagrant/chef/cookbooks/git"]
	path = vagrant/chef/cookbooks/git
	url = https://github.com/sous-chefs/git
[submodule "vagrant/chef/cookbooks/nginx"]
	path = vagrant/chef/cookbooks/nginx
	url = https://github.com/sous-chefs/nginx
[submodule "vagrant/chef/cookbooks/elixir"]
	path = vagrant/chef/cookbooks/elixir
	url = https://github.com/sous-chefs/elixir
[submodule "vagrant/chef/cookbooks/firewall"]
	path = vagrant/chef/cookbooks/firewall
	url = https://github.com/sous-chefs/firewall
[submodule "vagrant/chef/cookbooks/mariadb"]
	path = vagrant/chef/cookbooks/mariadb
	url = https://github.com/sous-chefs/mariadb
[submodule "vagrant/chef/cookbooks/erlang"]
	path = vagrant/chef/cookbooks/erlang
	url = https://github.com/sous-chefs/erlang
[submodule "vagrant/chef/cookbooks/rsync"]
	path = vagrant/chef/cookbooks/rsync
	url = https://github.com/sous-chefs/rsync
[submodule "ffmpeg"]
	path = ffmpeg
	url = https://github.com/djoos-cookbooks/ffmpeg
[submodule "vagrant/chef/cookbooks/ffmpeg"]
	path = vagrant/chef/cookbooks/ffmpeg
	url = https://github.com/djoos-cookbooks/ffmpeg
[submodule "vagrant/chef/cookbooks/yum"]
	path = vagrant/chef/cookbooks/yum
	url = https://github.com/sous-chefs/yum.git
[submodule "vagrant/chef/cookbooks/seven_zip"]
	path = vagrant/chef/cookbooks/seven_zip
	url = https://github.com/sous-chefs/seven_zip
[submodule "vagrant/chef/cookbooks/se_linux"]
	path = vagrant/chef/cookbooks/se_linux
	url = https://github.com/sous-chefs/selinux
[submodule "vagrant/chef/cookbooks/redisio"]
	path = vagrant/chef/cookbooks/redisio
	url = https://github.com/sous-chefs/redisio
[submodule "vagrant/chef/cookbooks/imagemagick"]
	path = vagrant/chef/cookbooks/imagemagick
	url = https://github.com/wbotelhos/chef-imagemagick
[submodule "vagrant/chef/cookbooks/apache2"]
	path = vagrant/chef/cookbooks/apache2
	url = https://github.com/sous-chefs/apache2
[submodule "vagrant/chef/cookbooks/beanstalkd"]
	path = vagrant/chef/cookbooks/beanstalkd
	url = https://github.com/djoos-cookbooks/beanstalkd
[submodule "vagrant/chef/cookbooks/chocolatey"]
	path = vagrant/chef/cookbooks/chocolatey
	url = https://github.com/chocolatey/chocolatey-cookbook
[submodule "vagrant/chef/cookbooks/nano"]
	path = vagrant/chef/cookbooks/nano
	url = https://github.com/sous-chefs/nano
[submodule "vagrant/chef/cookbooks/ntp"]
	path = vagrant/chef/cookbooks/ntp
	url = https://github.com/sous-chefs/ntp
[submodule "vagrant/chef/cookbooks/nvm"]
	path = vagrant/chef/cookbooks/nvm
	url = https://github.com/phutchins/nvm
[submodule "vagrant/chef/cookbooks/yum-epel"]
	path = vagrant/chef/cookbooks/yum-epel
	url = https://github.com/sous-chefs/yum-epel
[submodule "vagrant/chef/cookbooks/chef-oh_my_zsh"]
	path = vagrant/chef/cookbooks/chef-oh_my_zsh
	url = https://github.com/EugenMayer/chef-oh_my_zsh
[submodule "nextjs-react"]
	path = nextjs-react
	url = https://github.com/cgencer/librarian-clients-react.git
[submodule "nextjs-auth"]
	path = nextjs-auth
	url = https://github.com/cgencer/librarian-clients-auth
