authtoken: 
api_key: 
version: 1
connect_timeout: 30s
console_ui: true
dns_resolver_ips:
  - 1.1.1.1
  - 8.8.8.8
heartbeat_interval: 1m
heartbeat_tolerance: 5s
log_level: info
tunnels:
  db:
    addr: 5432
    proto: tcp
  web:
    addr: 8080
    proto: http
  ngrok:
    addr: 4040
    proto: http

